@charset "utf-8";
/* Jay - CSS Document */
 
/* Laptop Resolution CSS rules for browser widths from 1201px and up*/
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px !important;
  }
}
/* Mobile Phone Resolution  CSS rules for browser widths equal to or less than 480px */
@media only screen and (max-width: 480px) {

}
/* Tablet Resolution CSS rules for browser widths from 481px to 768 px*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Global Styling*/
body {
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif !important;
	
}
/*-----------Header section Css------*/
.no_mar_pad {
	padding: 0px !important;
	margin:0px !important;
}
.no_lr_pad {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.no_top_bot_mar {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.no_pad_left{
	padding-left: 0px !important
}
.no_pad_right{
	padding-right: 0px !important
}
.header_section .navbar-nav {
    float: right !important;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto !important;
    line-height:normal;
    padding: 15px;
}
.navbar {
    background-color: #0b0e11 !important;
    border: medium hidden !important;
    border-radius: 0px !important;
    margin: 0px !important;
}
.navbar-nav {
    margin: 20px 0px 0px !important;  
}
.nav.navbar-nav a {
    color: #dadada !important;
    font-size: 19px;
}
/*----------End Header section Css------*/

.navbar-brand > img {
    position: absolute;
    top: -48px;
    width: 225px;
}
.feature_listing {
    padding-top: 10%;
}

 .event-list {
		list-style: none;
		font-family: 'Raleway', sans-serif; 
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
.event-list > li time > .month {
    display: block;
    font-size: 14pt;
    font-weight: 900;
    line-height: 1;
    padding-top: 22px;
}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 10px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 14pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 10pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}
.sort_listing {
    background-color: #C52C66;
    margin-top: -35px;
    height: 95px;
}
.sort_midd_row {
    padding-top: 55px;
}
.listing_sort_menu {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.listing_select {
    margin-top: 75px;
}
.listing_sort_menu ul {
    padding: 0px;
    margin-bottom: 0px;
}
.listing_sort_menu .pull-left > li {
    display: inline-block;
    list-style: outside none none;
    border-right: 1px solid #ddd;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
}
.listing_sort_menu .pull-right > li {
    border: 1px solid #0ff;
    display: inline-block;
    list-style: outside none none;
    margin-top: 5px;
    padding: 5px 45px;
    cursor: pointer;
}
.listing_category > ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.listing_category li {
    display: inline-block;
    list-style: outside none none;
    text-align: center;
    width: 24.7%;
}
.listing_category li a {
	color: #fff;
	text-decoration: none !important;
}
.listing_category {
    background-color: #c52c66;
}
.footer_section {
    background-color: #222;
    color: #fff;
    margin-top: 50px;
}

/* Tabs panel */
.tabbable-panel {
  border:hidden;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: none;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #333;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333 !important;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #ddd;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: hidden;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-bottom: 4px solid #333;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: 0px !important;
  border-bottom: 0;
  border-bottom: 4px solid #F3565D;
}

/*--End midd Tab Css---*/

.listing_sort_section {
    padding: 30px 0px;
}
.top_listing_cat {
    border: 1px solid #eee !important;
}
.top_listing_cat li {
    border-right: 1px solid #eee;
    text-align: center;
    width: 100px;
}

.below_listing_cate li {
    text-align: center;
    width: 25%;
}
.nav-tabs > li {
	 margin-bottom: 0px !important;
}

.below_cate_list > li a {
	color: #fff !important;
}

.below_cate_list li {
    background-color: #C52C66;
    border:1px solid #eee;
}
/* Slide css start */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px !important;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 17%;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.listing_category {
    background-color: #ddd;
    border: 1px solid #ddd;
    padding: 40px 0px !important;
}

.detail_heading {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 117px;
    position: absolute;
    text-align: center;
    width: 88%;
}
.detail_heading > h3 {
    color: #fff;
    margin: 0;
    padding: 10px;
}
.apartment_heading {
    background-color: rgba(167, 81, 56, 0.96);
    bottom: 163px;
    position: absolute;
    text-align: center;
    width: 100px;
}
.apartment_heading > h5 {
    color: #fff;
    font-weight: 600;
}
.cont_details > h3 {
    color: #666;
    margin: 0px 0px 5px 5px;
}

.cont_details > h3 {
    font-size: 18px;
}
.cont_details > p {
    color: #666;
    margin-bottom: 1px;
    margin-left: 5px;
}
.social_icon ul li {
    border: 1px solid #dadada;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 35px;
    line-height: 36px;
    list-style: outside none none;
    margin-right: 10px;
    text-align: center;
    width: 35px;
}
.social_icon li a {
    color: #DADADA;
    font-size: 22px;
}
.top_header {
    background-color: rgba(26, 34, 42, 1);
    padding: 20px 0 5px;
    font-family: 'Raleway', sans-serif; 
}
.top_social_media {
    float: left;
}
.top_social_media > ul {
    padding-left: 25px;
}

.top_social_media a {
    color: #DADADA;
}
.top_social_media .fa.fa-angle-right {
    color: #c52c66;
    font-size: 20px;
    font-weight: bold;
}
.nav.navbar-nav > li:last-child {
    text-align: right;
    margin-right: -38px;
}
.listing_sort_section .thumbnail > img {
    min-height: 400px;
}



/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

/* Slide css End */

/*-------------------------------*/
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*   testimonial css Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.footer_top_section {
    background-color: #373737;
     padding: 10px 0px;
} 
.footer_top_section p {
    line-height: 23px;
    padding: 10px 0px; 
    margin-bottom: 0px;
    color: #fff;
}
.footer_midd_section {
    background-color: #c52c66;
    color: #fff;
}
.footer_midd_section .col-md-6 {
    border-right: 5px solid;
    min-height: 80px;
    padding: 20px 0px;
}

.footer_midd_section .col-md-2 {
    border-right: 5px solid;
    text-align: center;
    min-height: 80px;
    padding: 10px 5px;
}
.footer_midd_section .col-md-2:last-child {
    border-right: medium hidden;
    text-align: right !important;
    padding: 10px 0px;
 }
 .footer_bott_section .social_icon li:last-child {
    margin-right: 0px;
}
.footer_bott_section {
    background-color: #373737;
    color: #fff;
    padding: 25px 0px 10px;
}
.footer_bott_section .social_icon ul li:last-child {
	margin-right: 0px;
}
/*---------End Testimonial csss----------------------*/

@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 50px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 40px;
			padding: 0px;
			margin: 0px;
			height: 60px;
		}
		.event-list > li > .info {
			position: relative;
			height: 60px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}