/*
Theme Name: FP Participações
Theme URI: https://wordpress.org/themes/twentyten/
Description: Emancipa Comunicação Serviços de Informática Ltda.
Author: Emancipa
Author URI: https://emancipa.com.br/
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, white, two-columns, fixed-layout, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu, flexible-header, featured-images, featured-image-header
Text Domain: twentyten
*/


/* =Reset default browser CSS. Based on work by Eric Meyer.
-------------------------------------------------------------- */



/* Global Styling*/
body {
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif !important;
    background: #f4f4f4 !important;
	
}
/*-----------Header section Css------*/
.no_mar_pad {
	padding: 0px !important;
	margin:0px !important;
}
.no_lr_pad {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.no_top_bot_mar {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.no_pad_left{
	padding-left: 0px !important
}
.no_pad_right{
	padding-right: 0px !important
}
.header_section .navbar-brand > img {
    position: absolute;
    left: 0;
    top: -62px;
    width: 265px;
}
.header_section .navbar-brand {
    float: left;
    font-size: 18px;
    height: auto !important;
    line-height:normal;
    padding: 15px;
}
.navbar {
    background-color: #0b0e11 !important;
    border: medium hidden !important;
    border-radius: 0px !important;
    margin: 0px !important;
    box-shadow: 1px 1px 1px;
    min-height: 48px !important;
    
}
.navbar-nav {
    margin: 0px 0px 0px !important;  
}
.nav.navbar-nav a {
    color: #dadada;
    font-size: 19px;
    border: medium hidden !important;
}
.navbar-brand > img {
    position: absolute;
    top: -48px;
    width: 225px;
}
.colListing {
      top: 25%;
  position: absolute;
  right: 0;
  width: 100%;
}
/*----------Start menu Css------*/
#menu-home ul {
    margin: 0;
    padding: 0;
    list-style: none;
      -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
#menu-home {
    width: 100%;
}
#menu-home:before,
#menu-home:after {
    content: "";
    display: table;
}

#menu-home:after {
    clear: both;
}

#menu-home {
    zoom:1;
}
#menu-home li {
    float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;

}
#menu-home a {
    float: left;
    padding: 14px 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    border: medium hidden !important;
}

#menu-home li:hover > a {
    color: #fafafa;
}
#menu-home .sub-menu {
    margin: 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 48px;
    left: -1px;
    z-index: 1;    
    background: #444;   
    border-radius: 0px;
    min-width: 100%;
    background-color: rgb(26, 34, 42);
}
#menu-home li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
#menu-home ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}
#menu-home ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    background-color: rgb(26, 34, 42);
    border-bottom: 1px solid #666;
}
#menu-home ul li:last-child {   
    box-shadow: none;    
}
#menu-home ul a {    
    padding: 10px 25px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
#menu-home ul a:hover {
    background-color: #324252;
    background-image: linear-gradient(#324252, #324252);
}


.sub-menu .menu-item:hover {
    background-color: #324252;
}

#menu-home .current_page_item  > a,#menu-home .current-menu-parent > a,.menu-item:hover {
    background-color: #FB2314;
}

.sub-menu a:before,.sub-menu .current-menu-parent > a:before,.sub-menu .menu-item:hover:before {
    display: none !important;
}
#menu-home .current_page_item a:before,#menu-home .current-menu-parent > a:before,.menu-item:hover:before {
    content:'';
    border-left: 16px solid rgba(0, 0, 0, 0);
    border-right: 16px solid rgba(0, 0, 0, 0);
    border-top: 9px solid;
    color: #ff0000;
    display: block;
    float: none;
    left: 50%;
    margin: 0 0 0 -16px;
    position: absolute;
    text-align: center;
    top: -8px;
    vertical-align: middle;
    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);        
    -o-transform: rotate(180deg);          
    -ms-transform: rotate(180deg);         
    transform: rotate(180deg);             
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
} 

/*.parent_first:hover {
    background-color: #FB2314;
}
.parent_first:hover > a {
    background-image: url("http://www.fpparticipacoes.com.br/wp-content/uploads/2015/07/traingle1.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
    color: #fafafa;
    height: 44px;
    overflow: hidden;
    padding: 24px 20px 0 !important;
    position: relative;
    top: -11px;
}

*/


/*----------End menu Css------*/
/*----------submenu Css------
.sub-menu {
    display: none;
}
.menu-item:hover ul {
  display: block;
  background-color: #0B0E11;
  position: absolute;
  width: 150px;
  padding:0px;
  text-align: center; 
  left: -10px;
  z-index: 999;
}
.menu-item ul li:hover {
    background-color: #999;
    border:1px solid #ddd;
}
.menu-item ul li a {
    font-size: 14px !important;
    padding: 0px 30px;
    text-decoration: none;

}
.menu-item:hover ul li {
  border-bottom: 1px solid;
}

*/

/*-End submenu Css-*/


/*  Home page Expta css Add-*/

.filter_text {
    background-color: #FB2314;
    margin: auto;
    width: 185px;
    padding: 3px 0px;
    display: block;
}

.filter_text.text-center > span {
    display: inline-block;
    padding-left: 9px;
}
.filter_text h4 {
    color: #ffffff;
    font-style: italic;
    font-weight: 600;
}
.filter_text .fa {
    color: #ffffff;
    font-size: 20px;
}
.top_listing_cat .activity_select {
    border-left: 16px solid rgba(0, 0, 0, 0) !important;
    border-right: 16px solid rgba(0, 0, 0, 0) !important;
    border-top: 9px solid !important;
    color: #ff0000;
    display: inline;
    float: none;
    left: 50%;
    margin: 0 0 0 -16px;
    position: absolute;
    text-align: center;
    top: -9px;
    vertical-align: middle !important;

    -webkit-transform: rotate(180deg);     
    -moz-transform: rotate(180deg);        
    -o-transform: rotate(180deg);          
    -ms-transform: rotate(180deg);         
    transform: rotate(180deg);             
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}

.left_category {
    float: left;
    width: 30%;
    margin-top: 6px !important;
}
.listing_category {
    min-height: 520px !important;
    min-width: 270px;
}
.listing_category .right_category {
    float: right;
    width: 50%;
    margin-top: 6px !important;
    margin-right: 22px !important;
}
.listing_category .left_category li {
    border-right: 2px solid #fd8e85 !important;
    margin-left: 22px;
    width: 40%;

}
.below_listing_cate .handleTabs ul li:last-child {
    border:0 !important;
    margin: 0;
}

.listing_category .tabs-below {
    
    min-height: 45px;
    width: 100%;
}
.listing_category .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 35px;
}
.listing_category .tabbable-line .tab-content {
	clear: both;
}

.listing_category .nav > li > a {
    display: block;
    padding: 5px 10px !important;
    position: relative;
}
.tabbable-line .nav-tabs > li.active {
  border-bottom: hidden !important;
  position: relative;
}

.nav-tabs > li.active > a {
    border: hidden important;
    border-style: hidden !important;
} 

.left_category a:focus {
    outline: none !important;
    outline-offset: -2px;
}

a:focus {
    outline: hidden !important;
    outline-offset: 0px;
}

.tabbable-line .nav-tabs > li.active > a {
    background-color: #ce1e11 !important;
    border: medium hidden !important;
    border-radius: 0;
    color: #ffffff !important;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    cursor: pointer !important;
}
.below_listing_cate .handleTabs ul li {
    text-align: center;
    width: 25%;
    border: medium hidden !important;
    min-width: 110px;
}

.tabbable-line .nav-tabs > li.active > a i {
    background-color: #ffffff;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-size: 14px;
  height: 13px;
  margin-right: 6px;
  margin-top: 4px;
  width: 13px;
  border-radius: 3px;
}
.tabbable-line .nav-tabs > li > a {
    border: 0 none;
    color: #ffffff;
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    margin-right: 0;
}

.tabbable-line .nav-tabs > li > a i {
    
    margin-right: 6px;
    
}

.apartment_heading > h5 {
    color: #333333;
    display: block;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 7px 15px 7px 25px;
    text-transform: uppercase;
}
.apartment_heading {
    background-color: rgba(255 , 255, 255, 0.80);
    bottom: 205px;
    position: absolute;
    text-align: center;
    left: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.apartment_label > h5 {
    color: #fff;
    display: block;
    font-size: 22px;
    font-style: italic;
    margin: 0;
}
.apartment_label {
    background-color: #757d7f;
    padding: 6px 15px 10px 25px;
    top: 5px;
    position: absolute;
    text-align: center;
    right: 20px;
    border-bottom-left-radius: 30px;
    border:3px solid rgba(255,255,255,0.8);
    border-right:0;
    border-top:0; 
}

.detail_heading_price {
    bottom: 145px;
    left: 19px;
    position: absolute;
    text-align: center;
    width: 88%;
}
.home .edit-link {
    position: absolute;
}
.heading_footer {
    margin-top: 6%;
}
.detail_heading_price > h3 {
    background-image: linear-gradient(to bottom, #e73827 0%, #f85032 34%, #fe3519 49%, #fb2314 53%, #f02f17 84%, #f02f17 100%);
    border-radius: 26px;
    clear: both;
    color: #ffffff;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    margin: auto;
    padding: 5px 0;
    width: 80%;
    word-spacing: -11px;

    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
.cont_details {
    border: 1px solid #777777;
    clear: both;
    min-height: 125px;
    position: relative;
    text-align: center;
    background-color: #E7E7E7;
    border-radius: 3px;
}
.detail_heading1 > h3 {
    border-bottom: 1px solid #ccc;
    color: #1c1c1c;
    font-size: 22px;
    margin: 0 0 10px;
    padding: 5px 0px;
    text-transform: uppercase;
}
.cont_details > h3 {
    padding: 0 1px;
    color: #666666;
    font-size: 14px !important;
    margin: 0px 0px 5px 5px;
}

.wpl_prp_show_detail_boxes_cont #wpl-dbst-show3026 {
    display: none;
}
/* End  Home page Expta css Add-*/


/*----sell your land---change css  */

.bottom_heading {
    margin-top: 0;
}

#map {

    background-color: #e5e3df;
    margin: 0;
    min-height: 300px;
    min-width: 100%;
    overflow: hidden;
    max-width: 94% !important;
    width: 95% !important;

}

.map_search_loc {
    width: 100%;
    z-index: 999;
}
.display_none {
	display: none;
}

.btn_search {
    background-color: #FF2B1F;
    color: #ffffff;
    font-size: 18px !important;
    font-weight: 600;
    padding: 3px 12px;
}

/*----sell your land---change css  */

.atendimento-online-lateral {
    background-color: #1a222a;
    height: 71px;
    position: absolute;
    right: 0;
    transition-duration: 0.3s;
    z-index: 1;
    padding-left: 41px;
}


.atendimento-online-lateral {
  display: block;
}



.atendimento-online-lateral:hover > .click > .horario {
    background: #364250;
}
.atendimento-online-lateral:hover > .button-atendimento-online {
    background: #ff391c;
}

.atendimento-online-lateral .button-atendimento-online {
    background-color: #d20001;
    border:0;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    height: 71px;
    padding: 14px;
    border: 3px solid #1a222a;
    position: absolute;
    top: 0px;
    left: 0;    
    transition-duration: 0.3s;
    border-right: 0;
}


.atendimento-online-lateral .click {
    background-color: none;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}
.atendimento-online-lateral .click {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.atendimento-online-lateral .horario {
    display: block;
    font-size: 14px;
    padding: 6px 10px;
    background: #424242;
}
.atendimento-online-lateral .title {
    font-size: 17px;
    width: 100%;
    padding: 6px 10px;
    display: block;
    background: #222;
}
.expand {
  right: 0px !important;
}
.one {
  display: none;
}


/*-------expand Menu1, 2-----*/
#expand_menu0 {
    clear: both;
    top: 0px;
}
#expand_menu1 {
    clear: both;
    top: 82px;
}
#expand_menu2 {
    clear: both;
    top: 170px;
}
/*-------End expand Menu 2-----*/



.event-list button {
    background-color: red;
    border: medium hidden;
}


.entry-title {
    display: none;
}
.hero_section {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-top: -10px;
    position: relative;
}
.feature_listing {
    padding-top: 10%;
}

 .event-list {
		list-style: none;
		font-family: 'Raleway', sans-serif; 
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(115,116,115);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
.event-list > li time > .month {
    display: block;
    font-size: 14pt;
    font-weight: 900;
    line-height: 1;
     padding: 22px 7px;
}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 10px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 14pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 10pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}
.sort_listing {
    background-color: #C52C66;
    margin-top: -35px;
    height: 95px;
}
.sort_midd_row {
    padding-top: 55px;
}
.listing_sort_menu {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.listing_select {
    margin-top: 75px;
}
.listing_sort_menu ul {
    padding: 0px;
    margin-bottom: 0px;
}
.listing_sort_menu .pull-left > li {
    display: inline-block;
    list-style: outside none none;
    border-right: 1px solid #ddd;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
}
.listing_sort_menu .pull-right > li {
    border: 1px solid #0ff;
    display: inline-block;
    list-style: outside none none;
    margin-top: 5px;
    padding: 5px 45px;
    cursor: pointer;
}
.listing_category > ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.listing_category li {
    display: inline-block;
    list-style: outside none none;
    text-align: center;
    width: 24.7%;
}
.listing_category li a {
	color: #fff;
	text-decoration: none !important;
}

.footer_section {
    background-color: #222;
    color: #fff;
    margin-top: 50px;
}

/* Tabs panel */
.tabbable-panel {
  border:hidden;
}

/* Default mode */
.tabbable-line .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line .nav-tabs > li {
  margin-right: none;
}
.tabbable-line .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line .nav-tabs > li.open, .tabbable-line .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line .nav-tabs > li.open > a, .tabbable-line .nav-tabs > li:hover > a {
  border: 0;
  background: none;
  color: #fff;
}
.tabbable-line .nav-tabs > li.open > a > i, .tabbable-line .nav-tabs > li:hover > a > i {
  color: #fff;
}
.tabbable-line .nav-tabs > li.open .dropdown-menu, .tabbable-line .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}

.tabbable-line .nav-tabs > li.active > a > i {
  color: #404040;
}
.portlet .tabbable-line .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: hidden;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-bottom: 4px solid #333;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: 0px !important;
  border-bottom: 0;
  border-bottom: 4px solid #F3565D;
}

/*--End midd Tab Css---*/

.listing_sort_section {
    padding: 30px 0px 57px;
    background: #484848;
}
.top_listing_cat {
    background-color: #19222b;
}
.top_listing_cat li {
    border-right: 1px solid #eee;
    text-align: center;
    width: 150px;
}

.below_listing_cate .handleTabs ul li {
    text-align: center;
    width: 25%;
    border-right: 2px solid #fd8e85 !important;
}

.nav-tabs > li {
	 margin-bottom: 0px !important;
}

.below_cate_list > li a {
	color: #fff !important;
}
.below_cate_list li {
    border:1px solid #eee;
}



/* Slide css start */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px !important;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 130px;
    display: block !important;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -50px !important;
	margin-right: -19px;
}

.carousel-indicators li {
    width: 8px !important;
    height: 8px !important;
    border: 0 !important;
    background-color: #fff !important;
    margin: 1px 2px !important;
}
.carousel-indicators .active {
    background-color: #f85032 !important;

}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.listing_category {
    background-color: #ddd;
    border: 0;
    padding: 0 !important;
}

.detail_heading {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 115px;
    position: absolute;
    text-align: center;
    width: 88%;
    left: 19px;
}
.detail_heading > h3 {
    color: #fff;
    margin: 0;
    padding: 10px;
}

.cont_details > p {
    color: #666;
    margin-bottom: 1px;
    margin-left: 5px;
}
.social_icon ul li {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 35px;
    line-height: 23px;
    list-style: outside none none;
    margin-right: 10px;
    text-align: center;
    width: 35px;
}
.social_icon li a {
    color: #DADADA;
    font-size: 22px;
}
#header #masthead {
    position: relative;
    z-index: 99;
}
.top_header {
    background-color: rgba(26, 34, 42, 1);
    padding: 20px 0 5px;
    font-family: 'Raleway', sans-serif; 
    min-height: 90px;
}
.top_social_media {
    float: right;
}
.top_social_media > ul {
    padding-left: 25px;
}

.top_social_media a {
    color: #DADADA;
}
.top_social_media .fa.fa-angle-right {
    color: #c52c66;
    font-size: 20px;
    font-weight: bold;
}
.nav.navbar-nav > li:last-child {
    text-align: right;
    margin-right: -38px;
}
.listing_sort_section .thumbnail {
    margin-bottom: 30px;
}
.listing_sort_section .thumbnail > img {
    width: 100%;
    min-height: 290px;
}
div.wpcf7-response-output {
    clear: both;
    background: #fff;
}
li { list-style-type:none;}

::selection { background: #fb2314; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #fb2314; color: #FFFFFF; }

/* Slide css End */

/*-------------------------------*/
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*   testimonial css Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.footer_top_section {
    background-color: #373737;
     padding: 10px 0px;
} 
.footer_top_section p {
    line-height: 23px;
    padding: 10px 0px; 
    margin-bottom: 0px;
    color: #fff;
}
.footer_midd_section {
    background-color: #E02C1B;
    color: #fff;
}
.footer_midd_section .col-md-6 {
    border-right: 5px solid;
    min-height: 80px;
}

.footer_midd_section .col-md-2 {
    border-right: 5px solid;
    text-align: center;
    padding: 10px 5px;
    min-height: 80px;
}
.footer_midd_section .col-md-2:last-child {
    border-right: medium hidden;
    text-align: center !important;
    padding: 10px 0px;
 }
 .footer_bott_section .social_icon li:last-child {
    margin-right: 0px;
}
.footer_bott_section {
    background-color: #373737;
    color: #fff;
    padding: 25px 0px 10px;
}
.footer_bott_section .social_icon ul li:last-child {
	margin-right: 0px;
}
/*---------End Testimonial csss----------------------*/



/*---------breadcrumb css Start----------------------*/
.line-breadcrumb {
    background-color: #f4f4f4;
    text-transform: uppercase;
    color: #979797;
    font-size: 16px;
    margin-bottom: 5px;
}

.line-breadcrumb strong {
    font-weight: normal;
    font-size: 16px;
    color: #666;
}

.line-breadcrumb .breadcrumb {
    background-color: transparent;
    margin: 0px;
    padding: 12px 0 5px;
    font-size: 20px;
}
.breadcrumb {
    border-radius: 4px;
    list-style: outside none none;
  }

.breadcrumb > * {
    display: inline-block;
}
.line-breadcrumb .breadcrumb a {
    color: #979797;
    font-size: 0.938em;
    font-weight: 100 !important;
}

.line-breadcrumb .breadcrumb .active a {
    color: #565656;
    font-weight: 700;
}
.line-breadcrumb .breadcrumb a {
    color: #979797;
    font-size: 16px;
    text-transform: uppercase;
}


/*---------breadcrumb css End-----------*/

/*---------Contact Pge css Start----------------------*/
.contact_form .form-horizontal .control-label {
    margin-bottom: 0;
    padding-top: 7px;
    text-align: left;
}
.map_top_section h2 {
    color: #666;
    font-size: 35px;
    font-weight: 500;
    margin: 0px;
    padding: 50px 0px 15px;
}
.map_top_section p strong {
    color: #666;
    font-size: 18px;
    font-weight: 500;
}
.contact_form > p {
    padding: 10px 0px;
}

.contact_map p {
    padding: 10px 0px 25px;
}
.contact_top_section p strong {
    color: #666;
    font-size: 18px;
    font-weight: 500;
}
.contact_form > strong {
    color: #666;
    font-size: 18px;
    font-weight: 500;
}
.contact_form label {
    display: inline-block;
    font-size: 16px;
    font-weight: 500 !important;
    color: #999;
}
.cont_form_detail {
    color: #777;
    font-size: 16px;
    padding-top: 25px;
}

.contact_form .form-control {
  border-radius: 0px !important;
}
.map_cont_btn {
    clear: both;
    margin-top: 20px;
    padding: 0 !important;
}
.map_cont_btn a {
  background-color: #B23D33;
  color: #fff;
  font-size: 17px
}

.list-unstyled > li {
    list-style: outside none none;
    margin-bottom: 45px;
}
.list-unstyled a {
    border-left: 5px solid #d4d4d4;
    color: #616161;
    display: block;
    font-size: 18px;
    padding-left: 0.625em;
    text-decoration: none !important;
}
.list-unstyled li a:hover, .list-unstyled li a:focus {
    border-left: 5px solid #46b5c6;
    color: #46b5c6;
    text-decoration: none;
}
.list-unstyled li.active a {
    border-left: 5px solid #e96b1f;
    color: #e96b1f;
}
.sidebar_midd {
  height: 322px;
}

.sidebar_cont_detail {
    background-color: #1A222A;
    clear: both;
    margin-top: 30px;
    padding: 10px 10px 30px;
}
.sidebar_cont_detail h3 {
    color: #fff;
    font-size: 28px;
    margin: 0;
    padding: 10px 0 21px;
    text-align: center;
}
.sidebar_cont_btn {
    bottom: -31px;
    position: absolute;
    width: 97%;
}

.localizar_btn {
    background-color:#B23D33;
    border-color: #B23D33;"
}
.contact_form .btn {
    -moz-user-select: none;
    background-color: #FF2B1F;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 75px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 35px;
    width: 100%;
}
.bottom_heading .btn {
    -moz-user-select: none;
    background-color: #FF2B1F;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 75px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-top: 35px;
    width: 100%;
}
.contact_top_section .col-xs-12 > p {
    color: #999;
    font-size: 17px;
    font-weight: 500;
}
.contact_top_section .col-xs-6 > p {
    color: #999;
    font-size: 17px;
    font-weight: 500;
}
.contact_top_section .form-group {
    line-height: 35px;
}
/*---------Contact Page css End----------------------*/

/*---------Build Page css Start----------------------*/
.build_top_section {
    padding: 30px 0px 0px;
}
.pull_left_part > ul {
    padding-left: 35px;
    padding-top: 25px;
    margin-top: 10px;
}

.pull_left_part li {
    line-height: 30px;
    list-style: outside none none;
}
.pull_left_part a {
    color: #666;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none !important;
}
.pull_right_part h2 {
    margin: 0 0 10px;
}
.pull_right_part > p {
    line-height: 28px;
}


/*---------Build Page css End----------------------*/

/*---------Rent Page css Start----------------------*/

.rent_top_section {
    padding: 30px 0px 0px;
}

/*---------Rent Page css End----------------------*/

/*---------Invest Page css Start----------------------*/

.invest_top_section {
    padding: 30px 0px 0px;
}
/*---------Invest Page css Start----------------------*/



/*---------WPL plugin css Start----------------------
.wpl_map_canvas {
    display: none;
}*/
.wpl_prp_container_content {
    margin: auto;
    width: 80%;
}

.wpl_property_listing_container .wpl_sort_options_container ul li div {
    font-style: normal !important;
}
/*---------WPL plugin css End----------------------*/










.handleTabs {
    background-color: #FB2314;
    height: 45px;
    overflow: hidden;
}


.tab-pane {
    display: block;
}

.innerShadow{

}


.page-template-listing-php .wpl_sort_options_container {
    display: none;
}

.page-template-listing-php .listing_sort_section {
    padding: 20px 0px 0px;
    background:#dddddb;
}

.page-template-listing-php .listing_category {
    background: #484848;
}

.page-template-listing-php .carousel-indicators {
    position: static;
    z-index: 15;
    width: auto;
    padding: 0;
    margin: 30px auto 40px;
    text-align: center;
    list-style: none;
}

.page-template-listing-php .listing_category .carousel {
    padding: 0px;
    margin-bottom: 30px;
}
.page-template-mapa {
    background: transparent !important;
}
.page-template-mapa #wpadminbar, .page-template-mapa .hfeed,.page-template-mapa #footer,.page-template-mapa .wpl_property_listing_list_view_container {
    display: none;
}
.page-template-mapa .wpl_property_listing_container {
    margin: 0;
    padding: 0;
}

.page-template-mapa .wpl_map_canvas {
    height: 654px !important;
}
.page-template-listing-php .fixMap iframe {
    min-height: 656px;
    border:none;
    width: 100%;
    overflow: hidden;
}

.page-template-listing-php .wpl_map_canvas {
    min-height: 656px;
}
.page-template-listing-php .wpl_googlemap_container.wpl_googlemap_plisting {
    border:none;
}
.page-template-listing-php .wpl_property_listing_list_view_container {
    visibility: hidden;
}

.page-template-listing-php .entry-content {
    visibility: hidden;
    height: 0;
    overflow: hidden;
}
.page-template-listing-php .thumbnail {
    width: 190px;
    margin: 0 10px 0 0;
    display: inline-block;
    float: left;
}
.page-template-listing-php .listing_sort_section .thumbnail > img {
    min-height: auto;
}
.page-template-listing-php .slider_img_first {
    background: #dddddd;
    margin-bottom: 13px;
    padding: 10px;
    position: relative;    
    overflow: hidden;
}

.page-template-listing-php .cont_details {
    background: #fff;
    width: 315px;
    min-height: 190px;
    display: inline-block;
    border:0;
    text-align: left;
    padding-top: 30px;
    padding:20px; 
    border-radius: 0;
}

.page-template-listing-php .cont_details ul li:first-child {
    padding: 0;
    border-left: 0;
}
.page-template-listing-php .cont_details ul li {
    color: #e73827;
    font-size: 18px;
    text-align: left;
    min-width: 18%;
    width: auto;
    padding: 0 8px;
    border-left: 1px solid #e6e6e6;
}

.page-template-listing-php .cont_details ul li span {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    display: block;
    line-height: 12px;
}
.page-template-listing-php .apartment_heading {
    bottom: 50px;
    left: 15px;

}
.page-template-listing-php .cont_details ul li.garagem i {
    color: #e73827;
    margin-right: 3px;
}
.page-template-listing-php .cont_details ul li.garagem {
    font-size: 12px;
    color: #666;
    padding:0;
    margin: 10px 20px 0 0;
    border:0;
    display: block;
}

.page-template-listing-php .apartment_heading h5 {
    padding: 4px 11px 2px 10px;
    font-size: 16px;
    font-weight: normal;
}

.page-template-listing-php .detail_heading_price {
    z-index: 2;
    width: 155px;
    bottom: 5px;
    left: 25px;
}

.page-template-listing-php .detail_heading_price > h3 {
    font-size: 24px;
    padding: 5px 4px 5px 0px;
    width: auto;
    min-width: 80%;
}

.page-template-listing-php .detail_heading1 > h3 {
    border-bottom:0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.page-template-listing-php .cont_details > h3 {
    margin: 0;
}

.page-template-listing-php .detail_heading_price > h3 span {
    font-size: 16px;
    font-weight: 100;
    width: 27px;
    display: inline-block;
    top: -2px;
    position: relative;
}

.page-template-listing-php .apartment_label {
    z-index: 3;
    top:0;
    right: 0;
    border:0;
    background: #1a232a;
    padding: 4px 5px 4px 15px;
}

.page-template-listing-php .apartment_label h5 {
    font-size: 16px;
}

.page-template-listing-php .btn-danger {
    padding: 4px 14px 3px;
    background: #e73827;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.page-template-listing-php .btn-danger:hover {
    cursor: pointer;
}

.page-template-listing-php .btn-danger .glyphicon {
    top: 2px;
}

.wpl_googlemap_container.wpl_googlemap_plisting {
    padding: 0 !important;
}
.entry-content ul {
    -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}
.page-template-internas .entry-content ul li {
    list-style: square !important;
}

.hiddenForm {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}
#wpl_prp_show_container .wpl_prp_container .wpl_prp_show_tabs .tabs_box ul.tabs {
      -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

#wpl_prp_show_container .wpl_prp_container .wpl_prp_show_tabs .tabs_box {
    padding: 0 !important;
}

#wpl_prp_show_container .wpl_prp_container .wpl_prp_container_content .wpl_prp_container_content_right {
    background: #fff;
}

.wpl-contact-listing-btn .btn {
    background: #E02C1B;
    border:0;
}



#wpl_prp_show_container .wpl_prp_container .wpl_prp_container_content .wpl_prp_container_content_right .wpl_prp_right_boxes.details .wpl_prp_right_boxe_details_left {
    width: 98% !important;
}
#wpl_prp_show_container .wpl_prp_container .wpl_prp_container_content .wpl_prp_container_content_right .wpl_prp_right_boxes.details .wpl_prp_right_boxe_details_bot {
    text-align: center;
}
#wpl_prp_show_container .wpl_prp_container .wpl_prp_container_content .wpl_prp_container_content_right .wpl_prp_right_boxes.details .wpl_prp_right_boxe_details_bot .price_box {
   background-image: linear-gradient(to bottom, #e73827 0%, #f85032 34%, #fe3519 49%, #fb2314 53%, #f02f17 84%, #f02f17 100%);
    border-radius: 26px;
    clear: both;
    color: #ffffff !important;
    font-size: 35px;
    font-style: italic !important;
    font-weight: 700;
    margin: 0 auto 10px;
    padding: 5px 20px 0;;
    width: auto;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    line-height: 40px !important;
}
#wpl_prp_show_container .wpl_prp_container .wpl_prp_container_content .wpl_prp_container_content_right .wpl_prp_right_boxes.details .wpl_prp_right_boxe_details_bot .price_box:before {
    content: 'R$';
    font-size: 70%;
    top: -4px;
    position: relative;
    font-weight: 400;
}

/* mapa */
#main_infowindow .main_infowindow_r .main_infowindow_r_b div.price {
    background-image: linear-gradient(to bottom, #e73827 0%, #f85032 34%, #fe3519 49%, #fb2314 53%, #f02f17 84%, #f02f17 100%);
    border-radius: 26px;
    clear: both;
    color: #ffffff !important;
    font-style: italic !important;
    font-weight: 700 !important;
    margin: 0 auto;
    padding: 5px 20px 0;
    width: auto;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
#main_infowindow .main_infowindow_r .main_infowindow_r_b div.price:before {
     content: 'R$';
    font-size: 70%;
    top: -3px;
    position: relative;
    font-weight: 400;
}

#main_infowindow .main_infowindow_r {
    float: none !important;
    width: auto !important;
    
}
.gm-style-iw div:first-child {
        max-width: 480px !important;
}
#main_infowindow {
    width: auto !important;
    max-width: auto !important;
}
/* ----- */
#wpl_prp_show_container .wpl_prp_container .wpl_prp_container_content {
    background-color: #f4f4f4;
    padding: 30px;
}

.page-template-onecolumn-page .entry-content {
    background: #484848;
}

#wpl_prp_show_container .wpl_prp_container .wpl_prp_show_tabs {
    background: #f4f4f4;
}

#wpl_prp_show_container .wpl_prp_container .wpl_prp_show_tabs .tabs_container {
    border-bottom:1px solid #ccc !important;
}

#main_infowindow .main_infowindow_r .main_infowindow_title {
    font-size: 1.5em !important;
}

.listing_links,.agent_info,.wpl_prp_right_boxe_details_left {
    display: none !important;
}

.details {
    display: flex;
    flex-flow: column;
}
.details .wpl_prp_right_boxes_content {
    order:1;
}
.details .wpl_prp_right_boxes_title {
    order:2;
    padding-bottom: 5px !important;
    margin-bottom: 0 !important;
    text-align: center;
}
#main_infowindow .main_infowindow_l {
    margin-right: 10px;
}
.gm-style .gm-style-iw {
    padding-top: 6px;
}

.cmap {
    height: 420px;
}


#rfilters span {
    width: 100%;
     background: #FB2314;
     color: #fff;
     display: inline-block;
     padding: 10px 20px 6px;
     margin-bottom: 1px;
}

#rfilters input {
    margin-left: 10px;
    float: right;
}


.wpl-slider-bx-pager-wp,.wpl_qrcode_container {
    display: none;    
}

.wpl_prp_show_container .location_build_up {
    width: 70% !important;
}

#wpl_prp_show_container .wpl_prp_container .wpl_prp_show_tabs .tabs_container .wpl_gallery_container ul.bxslider li img {
    height: auto !important;
}
#wpl_prp_show_container .wpl_prp_container .wpl_prp_show_tabs .tabs_container .wpl_gallery_container {
    height: 100% !important;
}
.wpl_prp_show_detail_boxes_cont .rows {
    width: 100% !important;
}

#wpl_prp_show_container .wpl_prp_container .wpl_prp_container_content {

}


.wpl_prp_show_detail_boxes_cont .price_box {
    background-image: linear-gradient(to bottom, #e73827 0%, #f85032 34%, #fe3519 49%, #fb2314 53%, #f02f17 84%, #f02f17 100%);
    border-radius: 26px;
    color: #ffffff !important;
    margin: 0 auto 10px;
    padding: 6px 20px 3px;
    line-height: 0;
    width: auto;
    display: inline-block;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    line-height: 40px !important;
    font: bold 2em/1em "BenchNine",Arial,Helvetica,sans-serif !important;
    float: right;
}

.wpl_prp_show_detail_boxes_cont .price_box:before {
    content: 'R$';
    font-size: 70%;
    top: -1px;
    left: -1px;
    position: relative;
}

.wpl_prp_show_detail_boxes_cont[itemprop="description"] p {
    float: left;
}

.headingContato {
    margin-top:0 !important;
}

.page-template-venda #map {
    margin-bottom: 40px;
}

/* Laptop Resolution CSS rules for browser widths from 1201px and up*/
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px !important;
  }
}

@media only screen and (max-width: 1200px) {
    .listing_sort_section .thumbnail > img {
       min-height: 246px;
    }
    .col-md-4.slider_img_first {
        padding-left:5px;
        padding-right:5px;
    }
    .apartment_heading {
    left: 10px !important;
    }

    .apartment_label {
        right: 10px !important;
    }
    .page-template-listing-php .cont_details {
        width: 250px;
    }
}

@media only screen and (max-width: 1024px) {
.header_section .navbar-brand > img {
    position: absolute;
    top: -39px;
    width: 195px;
}

#menu-home {
    width: 100%;
}

.atendimento-online-lateral .click {
    font-size: 18px;
}

.hero_section {
    min-height: 414px;
}
#expand_menu0 {
    top: 20px;
}

.atendimento-online-lateral .click {
    font-size: 15px;
}
#expand_menu1 {
    clear: both;
    top: 38% !important;
    display: none;
}
#expand_menu2 {
    clear: both;
    top: 50% !important;
    display: none;
}
.hero_section {
    min-height: 410px;
}
.listing_category .right_category {
    width: 60%;
}

.apartment_heading > h5 {
    font-size: 15px;
}
.detail_heading1 > h3 {
    font-size: 18px;
}
.cont_details > h3 {
    font-size: 12px !important;
    margin: 5px 0px 5px 5px;
}
.footer_midd_section .col-md-6 {
    min-height: 70px;
    padding: 10px 0;
}
.footer_midd_section .col-md-2 {
    min-height: 70px;
    padding: 5px;
}

#map {
    margin-top: 96%;
}
.map_search_loc {
    margin-top: 60%;
}

}




@media only screen and (max-width: 991px) {
.handleTabs {
    height: 83px;
}
#menu-home {
    float: right;
    
}
#menu-home a {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
.header_section .navbar-brand > img {
    top: -25px;
    left: 0px;
    width: 155px;
}

.hero_section {
    background-size: cover;
    min-height: 310px;
}
.nav > li > a {
    font-size: 13px;
    padding: 7px 10px;
}
.slider_img_first {
    margin: auto;
    width: 70%;
    padding-top: 0 !important;
    margin-bottom: 40px;
}

.page-template-listing-php .slider_img_first,.page-template-listing-php .cont_details {
    width: 100%;
}
.page-template-listing-php .cont_details {
    margin-top: 10px;
}
.page-template-listing-php .listing_sort_section .thumbnail {
    display: none;
}
.page-template-listing-php .detail_heading_price {
    left: 0;
}
.page-template-listing-php .detail_heading_price > h3 {
    max-width: 80%;
    font-size: 20px;
}

.detail_heading {
    bottom: 95px;
    width: 90%;
}
#expand_menu1 {
  display: none;
}
#expand_menu2 {
	display: none;
}
.footer_midd_section {
    border-right: 10px solid #373737;
    border-left: 10px solid #373737;
}
.footer_midd_section .container {
    padding: 0;
    width: 100%;
}

.footer_midd_section .container div {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
}
.footer_top_section p {
    font-size: 13px;
}
.footer_midd_section .col-md-6 {
    text-align: center;
    border-right: hidden;
    border-bottom: 3px solid #fff;
    margin: auto;
    width: 80%;
}
.footer_midd_section .col-md-2 {
    border-right: hidden;
    border-bottom: 3px solid #fff;
    margin: auto;
    width: 80%;
}
.footer_midd_section .col-md-2:last-child {
    border-bottom: medium hidden;
}
.heading_footer {
    margin-top: 2%;
}

#menu-home .sub-menu {
    background: #1a222a none repeat scroll 0 0;
    border-radius: 0;
    left: -1px;
    margin: 0;
    opacity: 0;
    position: absolute;
    
    visibility: hidden;
    z-index: 1;
}

.filter_text span h4 {
  font-size: 16px;
}
.listing_category .tabs-below {
    background-color: transparent;
}
.left_category {
    background-color: #fb2314;
    
    margin-top: 0 !important;
    padding: 5px 0 !important;
    width: 100%;
}

.listing_category .right_category {
    background-color: #fb2314;
    margin: 0 !important;
    width: 100%;
    -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
.listing_category .left_category li {
    width: 25%;
    left: 20%;
}
.below_listing_cate .handleTabs ul li {
    width: 25%;
}
.listing_category .nav > li > a {
    padding: 6px 3px !important;
}
.listing_category {
    margin: auto;
    width: 100%;
}
.carousel-control {
    margin-top: 35%;
}
.pull_right_part > p {
    line-height: 28px;
    text-align: justify;
}
.pull_right_part h2 {
    font-size: 20px;
    margin: 0px 0px 10px;
}
#map {
    margin-top: 101%;
    max-width: 92% !important;
}
.map_search_loc {
    margin-top: 63%;
     width: 96% !important;
}


}


@media (min-width: 768px) {


.event-list > li {
    display: inline-flex;
    height: 60px;
    position: relative;
    width: 100%;
    
}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 40px;
			padding: 0px;
			margin: 0px;
			height: 60px;
      background-color: #dd2e1d;
		}
		.event-list > li > .info {
			position: relative;
			height: 60px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}

}


@media (max-width: 767px) {

.carousel-control {
    height: 50px;
    width: 50px !important;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 35px;
    margin-top: 0;
    display: block !important;
    font-size: 30px !important;
    line-height: 36px;
    opacity: 1 !important;
    top: 100px !important;
}
.carousel-control.right {
    left: auto !important;
    right: -30px !important;
}
.carousel-control.left {
    right: auto !important;
    left: -30px !important;
}



    .listing_category .carousel {
        margin-top: 0;
    }
    
    #navbarCollapse {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    #menu-home a {
        width: auto !important;
        font-size: 14px;
    }
    .navbar-collapse {
        max-height: auto;
    }
.page-header, .control-box {
    text-align: center;
}
.header_section {
    padding-bottom: 0px;
}
.header_section .menu-home-container {
    border-left: 1px solid;
}
.header_section .navbar-collapse.collapse.in {
    border: 0 !important;
    box-shadow: none !important
}

.header_section .col-md-8 {
    float: none !important;
    margin: auto !important;
    width: 100% !important;
} 
#menu-home {
    float: none;
    margin: auto;
    overflow: hidden;
    width: 100%;
}
#menu-home .parent_first {
    border-top: 1px solid;
}
#menu-home li {
    border-bottom: 1px solid;
    width: 100% !important;
     overflow: hidden;
}

#menu-home li ul,#menu-home .sub-menu {
    opacity: 1;
    visibility: visible;
}
#menu-home li:hover > ul {    
    opacity: 1;
    overflow: hidden;
    position: static;
    visibility: visible;
    width: 50%;
    z-index: 99999;
}
.map_search_loc .col-md-9.col-sm-9 {
    float: left;
    width: 65% !important;
}
.map_search_loc .col-md-3.col-sm-3 {
    float: left;
    width: 35% !important;
}
.listing_sort_section {
    padding: 30px 40px 57px !important;
}


.header_section .navbar-brand > img {
    position: absolute;
    top: -41px;
    left: 30px;
    width: 205px;
}

}

@media only screen and (max-width: 640px) {
.below_listing_cate .handleTabs ul li {
    width: 100%;
    border:0 !important;
}

.listing_category .carousel {
    padding: 0 0 30px;
}
.left_category {
    width: 100%;
    border-bottom: 4px solid #000 !important;
    padding: 5px 0 0 !important;
}
.handleTabs {
    height: auto !important;
    overflow: hidden;
}
.handleTabs ul {
    float: none !important
}
.listing_category .right_category {
    width: 100%;
}
.listing_category .left_category li {
    border:0 !important;
    left: 0;
    text-align: center;
    width: 100%;
    margin-left:0;
}
.nav.nav-tabs.left_category > li:last-child {
    border: medium hidden !important;
}

.below_listing_cate .handleTabs ul li:last-child {
    border: medium hidden !important;
}
.slider_img_first {
    width: 85%;
}
.social_icon ul li {
    border: 1px solid #dadada;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 28px;
    list-style: outside none none;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}
.social_icon ul {
    margin-right: 20px;
}
.footer_bott_section p {
    margin-left: 20px;
}
.line-breadcrumb .breadcrumb a {
    color: #979797;
    font-size: 14px;
}

 .map_top_section h2 {
    font-size: 22px;
}
.contact_form > strong {
    font-size: 16px;
    font-weight: 500;
}
.map_search_loc .col-md-9.col-sm-9 {
    float: left;
    width: 65% !important;
}
.map_search_loc .col-md-3.col-sm-3 {
    float: left;
    width: 34% !important;
}
.btn_search {
    font-size: 15px !important;
}
.map_search_loc {
    margin-top: 100%;
}
#map {
    margin-top: 181%;
    max-width: 90% !important;
}
.contact_form .col-xs-6 {
    width: 100% !important;
}
.contact_top_section h2 {
    font-size: 22px;
}
.contact_form > p {
    font-size: 14px;
    padding: 10px 0;
    text-align: justify;
}
.contact_top_section .col-xs-6 > p {
    font-size: 14px;
}
.contact_top_section .col-xs-12 > p {
    font-size: 14px; 
}

}

@media only screen and (max-width: 525px) {
.apartment_heading {
    left: 4px !important;
}

.apartment_label {
    right: 4px !important;
}
.listing_sort_section .thumbnail > img {
    width: 100%;
}
.slider_img_first {
    width: 100%;
    padding: 0 !important;
}

.hero_section {
    background-size: cover;
    min-height: 210px;
}
#expand_menu0 {
    clear: both;
    top: 23% !important;
}
#expand_menu1 {
    clear: both;
    top: 33% !important;
}
#expand_menu2 {
    clear: both;
    top: 43% !important;
}

.map_search_loc {
    margin-top: 131%;
}
#map {
    margin-top: 240%;
    max-width: 87% !important;
}


}


@media only screen and (max-width: 400px) {

.social_icon ul li {
    font-size: 13px;
    height: 20px;
    line-height: 18px;
    width: 20px;
}
.social_icon li a {
    font-size: 13px;
}
.footer_bott_section p {
    font-size: 13px;
    margin-left: 20px;
}
.listing_category .nav > li > a {
    padding: 6px 0 !important;
}

.detail_heading_price {
    width: 81%;
}
.apartment_heading {
    bottom: 195px;
}
.hero_section {
    background-size: cover;
    min-height: 145px;
}
.filter_text span h4 {
    font-size: 14px;
}
.filter_text span h4 {
    font-size: 14px;
}


.tabbable-line .nav-tabs > li > a i {
    margin-right: 4px;
}
.detail_heading1 > h3 {
    font-size: 13px;
}
.cont_details {
    min-height: 100px;
}

.detail_heading_price > h3 {
    font-size: 28px;
}
.apartment_heading > h5 {
    font-size: 12px;
}
.apartment_heading {
    bottom: 185px;
}
.detail_heading_price font {
    right: 6px;
    top: -3px !important;
}


.map_search_loc {
    margin-top: 196%;
    width: 92% !important;
}
#map {
    margin-top: 363%;
    max-width: 40% !important;
    min-width: 260px !important;
}


.page-template-listing-php .cont_details {
    margin-top: 0px;
}


}


@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}


/* Tablet Resolution CSS rules for browser widths from 481px to 768 px*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Mobile Phone Resolution  CSS rules for browser widths equal to or less than 480px */
@media only screen and (max-width: 480px) {

}


